<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
    <div class="container mt-3">
        <p>Pembukaan Nasabah (CIF) Perorangan</p>
        <form th:action="@{/save}" method="post" th:object="${data}">
            <table>
                <tr>
                    <td>
                        <tr>
                            <td><label>No. CIF</label></td>
                            <td><input type="text" class="form-control" th:field="*{CIFID}"><br></td>

                            <td><label>Tgl. Pembukaan</label></td>
                            <td><input type="date" class="form-control"><br></td>
                        </tr>
                        <tr>
                            <td><label>Cabang</label></td>
                            <td><select>
                                <option value="001-CABANG UTAMA" class="form-control">001-CABANG UTAMA</option>
                            </select></td>
                        </tr>
                        <tr>
                            <td><label>Account Officer</label></td>
                            <td><select th:field="*{AOID}" class="form-control">
                                <option value="000006">000006</option>
                            </select></td>
                        </tr>
                        <tr>
                            <td><label>Nama Lengkap</label></td>
                            <td><input type="text" th:field="*{FULLNM}"></td>
                        </tr>
                        <tr>
                            <td><label>Nama Singkat</label></td>
                            <td><input type="text"></td>
                        </tr>
                        <tr>
                            <td><label>Nama Alias</label></td>
                            <td><input type="text"></td>
                        </tr>
                        <tr>
                            <td><label>Nama Gadis Ibu Kandung</label></td>
                            <td><input type="text"></td>
                        </tr>
                        <tr>
                            <td><label>Jenis Kelamin</label></td>
                            <td>
                                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                                <label class="form-check-label" for="exampleRadios1">Laki-Laki</label>
                                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option1" checked>
                                <label class="form-check-label" for="exampleRadios1">Perempuan</label><br>
                            </td>
                        </tr>
                        <tr>
                            <td><label>Tempat & Tanggal Lahir</label></td>
                            <td><input type="text" ><input type="date" ></td>
                        </tr>
                    </td>
                </tr>
            </table>
            <br><br>

            <p>Info Identitas</p>
            <table>
                <tr>
                    <td><label>Jenis Identitas</label></td>
                    <td><select>
                        <option value="001-CABANG UTAMA">1-KTP</option>
                    </select></td>

                    <td><label>Masa Berlaku</label></td>
                    <td><input type="date"><br></td>
                </tr>
                <tr>
                    <td><label>No. Identitas</label></td>
                    <td><input type="text"></td>
                </tr>
                <tr>
                    <td><label>Alamat</label></td>
                    <td><input type="text"></td>
                </tr>
                <tr>
                    <td><label>RT/RW</label></td>
                    <td><input type="text"> / <input type="text"></td>

                    <td><label>Kode POS</label></td>
                    <td><input type="text"><br></td>
                </tr>
                <tr>
                    <td><label>Kelurahan</label></td>
                    <td><input type="text"></td>

                    <td><label>Kecamatan</label></td>
                    <td><input type="text"></td>
                </tr>
                <tr>
                    <td><label>Provinsi</label></td>
                    <td>
                        <select>
                            <option value="001-CABANG UTAMA">Jawa Barat</option>
                        </select>
                    </td>

                    <td><label>Kabupaten/Kota</label></td>
                    <td>
                        <select>
                            <option value="001-CABANG UTAMA">Jawa Barat</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td><label>Negara</label></td>
                    <td>
                        <select type="text" th:field="*{COUNTRYID}">
                            <option value="1">Indonesia</option>
                        </select>
                    </td>
                </tr>
                <tr><td><br></td></tr>
                <tr>
                    <td><label>No NPWP</label></td>
                    <td><input type="text" th:field="*{NPWP}"></td>

                    <td><label>Keterangan</label></td>
                    <td><input type="text"></td>
                </tr>
                <tr>
                    <td><label>No. HP</label></td>
                    <td><input type="text"></td>
                </tr>
            </table>

            <input type="submit">
        </form>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
</html>